@{
    ViewData["Title"] = "غير مصرح";
}

<h1>غير مصرح</h1>
<p>ليس لديك الصلاحيات للوصول إلى هذه الصفحة.</p>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">العودة إلى الرئيسية</a>